.table-user{
    overflow-x: auto;
    width: 100%;
    display: flex;  
    flex-direction: column;
}

.user-list-avatar{
   width: 46px;
    height: 46px;
    border-radius: 100%;
}
.border-solid-ccc{
}
.list-user td , th{
    border: 1px solid #5bd0c4;
    padding: 0 10px;
}
.header-list-user{
    text-align: center;
    font-size: 40px;
}
.tr-list-user:hover{
    background-color: #ccc;
}
.align-center{
    text-align: center;
}
.cursor-pointer{
    cursor: pointer;
}

#search{
    width: 300px;
    height: 40px;
    margin-left: 2px;
    padding-left: 4px;
    margin-bottom: 20px;
    font-size: 17px;
}
.pagani-page{
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}
#select-filter{
    height: 46px;
    width: 200px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.header-page{
    display: flex;
    justify-content: space-between;
}

.filter{
    display: flex;
}