#header {
  height: 68px;
  width: 80%;
  border-bottom: 1px solid #ccc;
  margin-left: 20%;
  padding: 0;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: end;
}
#now-page {
  font-size: 20px;
  line-height: 68px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
fack {
  color: rgb(243, 41, 41);
}
